/* .search-table-layout{
    border: 1px solid red;
    background-color: green !important;
}

.search-table-layout-content{
    overflow: initial;
    border: 1px solid red;
}
.nav1-opt1-layout-content{
    border: 1px solid red;
} */